* {
  position: relative;/*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

div::-webkit-scrollbar
{
  width: 6px;
}
div::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color :#333;
}
div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fafafa;
  border-radius: 10px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #eaeaea;
  font-family: 'Open Sans' , sans-serif;
  font-weight: 400;
  overflow: hidden;
}

body {
  color: #fff;
}




/*LOADER*/
#loader{
	position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(226,228,230);
  z-index: 2001;
  text-align: center;
}

.loading{
	position: absolute;
  width: 500px;
  left: calc(50% - 250px);
  top: 10%;
}

/*Circular Nav*/


.component {
  position: fixed;
  width: calc(10% - 0.5em);
  left: calc(45% + 0.5em);
  text-align: center;
  height: 35px;
  background: transparent;
  font-family: 'Lato', Arial, sans-serif;
  z-index: 200;
  top: calc(100vh - 35px);

}

.fl_right
{
  position: absolute;
  right: 0;
  height: 375px;
  z-index: 20;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
   }

   .fl_left
   {
    position: absolute;
    left: 0;
    z-index: 20;
    height: 375px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
   }

   .fl_right,.fl_left{
    opacity: 1;
  }


  #overlay
  {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 175;
    display: none;
  }

  #pointer{  
    position: fixed;  
    width: 1.5em;
    bottom: 4em;
    z-index: 200;
    margin-left: -0.15em;
    left: 50%;
  }

  #sticky_footer{
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: #8cca4b;
    /*background: url(./../img/grass.jpg) repeat;*/
    z-index: 100;
  }

  .notifications {
    display:block;
    position:fixed;
    /*margin:100px auto;*/
    width:80px;
    height:80px;
    background-color:white;
    border-radius:50%;
    right: 91px;
    bottom: 190px;
  }

  .notifications .toggle {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
  }

  .notifications .toggle:before,
  .notifications .toggle:after {
    content:'.';
    display:block;
    position:absolute;
    left:35px;
    width:10px;
    background-color:#bdc3c7;
    color:transparent;
    border-radius:5px;
  }

  .notifications .toggle:before {
    top:15px;
    height:30px;
  }

  .notifications .toggle:after {
    top:55px;
    height:10px;
  }

  .notifications .messages {
    display:block;
    position:absolute;
    top:100px;
    left:-80px;
    width:240px;
    max-height:240px;
  }

  .notifications .messages:before {
    content:'.';
    display:block;
    position:absolute;
    margin-left:-10px;
    left:50%;
    top:-18px;
    width:0;
    height:0;
    color:transparent;
    border:10px solid black;
    border-color:transparent transparent white;
  }

  .notifications .messages .message {
    display:block;
    position:relative;
    padding:10px;
    background-color:white;
    color:black;
    text-decoration:none;
  }

  .notifications .messages .message + .message {
    border-top:1px solid #e0e0e0;
  }

  .footer_bosm
  {
    float: left;
    padding-left: 10px;
    position: relative;
    height: 32px;
    margin-top: 13px;
  }

  .footer_regicon,.footer_regtxt,.footer_loginicon,.footer_logintxt,.footer_notif
  {
    bottom: 0;
    position: relative;
    height: 32px;
    float: right;
    margin-top: 13px;
    margin-right: 5px;
    z-index: 10;
  }

  .cn-button:focus{
   outline: 0;
 }
 .cn-button {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 11;
  margin-top: -2.25em;
  margin-left: -1.95em;
  padding-top: 0em;
  width: 4.5em;
  height: 4.5em;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: transparent;
  color: #52be7f;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: -13em;
  margin-left: -12.95em;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  -webkit-transition: all .3s ease 0.3s;
  -moz-transition: all .3s ease 0.3s;
  transition: all .3s ease 0.3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.5em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(76deg) skew(64deg);
  -moz-transform: rotate(76deg) skew(64deg);
  -ms-transform: rotate(76deg) skew(64deg);
  transform: rotate(76deg) skew(64deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  pointer-events: none;
}

.csstransforms .cn-wrapper li a {
  position: absolute;
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  -webkit-transform: skew(-64deg) rotate(-77deg) scale(1);
  -moz-transform: skew(-64deg) rotate(-77deg) scale(1);
  -ms-transform: skew(-64deg) rotate(-77deg) scale(1);
  transform: skew(-64deg) rotate(-77deg) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .45em;
  font-weight: 700;
  text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
  background: -webkit-radial-gradient(transparent 35%, #449e6a 35%);
  background: -moz-radial-gradient(transparent 35%, #449e6a 35%);
  background: radial-gradient(transparent 35%, #449e6a 35%);
}
.csstransforms .cn-wrapper li a:focus {
  position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
  -webkit-transition: all .3s ease .3s;
  -moz-transition: all .3s ease .3s;
  transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
  -webkit-transform: rotate(-21deg) skew(64deg);
  -moz-transform: rotate(-21deg) skew(64deg);
  -ms-transform: rotate(-21deg) skew(64deg);
  transform: rotate(-21deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(2) {
  -webkit-transform: rotate(7deg) skew(64deg);
  -moz-transform: rotate(7deg) skew(64deg);
  -ms-transform: rotate(7deg) skew(64deg);
  transform: rotate(7deg) skew(64deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
  -webkit-transform: rotate(35deg) skew(64deg);
  -moz-transform: rotate(35deg) skew(64deg);
  -ms-transform: rotate(35deg) skew(64deg);
  transform: rotate(35deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(4) {
  -webkit-transform: rotate(63deg) skew(64deg);
  -moz-transform: rotate(63deg) skew(64deg);
  -ms-transform: rotate(63deg) skew(64deg);
  transform: rotate(63deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(5) {
  -webkit-transform: rotate(91deg) skew(64deg);
  -moz-transform: rotate(91deg) skew(64deg);
  -ms-transform: rotate(91deg) skew(64deg);
  transform: rotate(91deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(6) {
  -webkit-transform: rotate(119deg) skew(64deg);
  -moz-transform: rotate(119deg) skew(64deg);
  -ms-transform: rotate(119deg) skew(64deg);
  transform: rotate(119deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(7) {
  -webkit-transform: rotate(147deg) skew(64deg);
  -moz-transform: rotate(147deg) skew(64deg);
  -ms-transform: rotate(147deg) skew(64deg);
  transform: rotate(147deg) skew(64deg);
}

.csstransforms .opened-nav li:nth-child(8) {
  -webkit-transform: rotate(175deg) skew(64deg);
  -moz-transform: rotate(175deg) skew(64deg);
  -ms-transform: rotate(175deg) skew(64deg);
  transform: rotate(175deg) skew(64deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background: #8cca4b;
  background: -webkit-radial-gradient(transparent 35%, #8cca4b 35%);
  background: -moz-radial-gradient(transparent 35%, #8cca4b 35%);
  background: radial-gradient(transparent 35%, #8cca4b 35%);
}

.csstransforms .cn-wrapper li a:hover {
  opacity: 0.9;
}


.csstransforms .cn-wrapper li:nth-child(even) a {
  background: #58952f;
  background: -webkit-radial-gradient(transparent 35%, #58952f 35%);
  background: -moz-radial-gradient(transparent 35%, #58952f 35%);
  background: radial-gradient(transparent 35%, #58952f 35%);
}


.no-csstransforms .cn-wrapper {
  overflow: hidden;
  margin: 10em auto;
  padding: .5em;
  text-align: center;
}

.no-csstransforms .cn-wrapper ul {
  display: inline-block;
}

.no-csstransforms .cn-wrapper li {
  float: left;
  width: 5em;
  height: 5em;
  background-color: #fff;
  text-align: center;
  font-size: 1em;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
  background-color: #6F325C;
  color: #fff;
}

.no-csstransforms .cn-button {
  display: none;
}

@media only screen and (max-width: 620px) {
  .no-csstransforms li {
    width: 4em;
    height: 4em;
    line-height: 4em;
  }
}

@media only screen and (max-width: 500px) {
  .no-ccstransforms .cn-wrapper {
    padding: .5em;
  }

  .no-csstransforms .cn-wrapper li {
    width: 4em;
    height: 4em;
    font-size: .85em;
    line-height: 4em;
  }
}

@media only screen and (max-width: 480px) {
  .csstransforms .cn-wrapper {
    font-size: .60em;
  }

  .cn-button {
    font-size: 0.95em;
  }

}

@media only screen and (max-width:420px) {
  
  .no-csstransforms .cn-wrapper li {
    width: 100%;
    height: 3em;
    line-height: 3em;
  }
}


/*about*/
#about{
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #FFEF9D;
  padding: 20px 0px;
}
#about .adjust_mobile{
  min-height: 400px;
}
#about .inner_cont{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 400px;
  margin: auto;
  width: 1000px;
  max-width: 90%;
}
#about .main_head{
  font-size: 2.2em;
  margin: 15px 0px;
  width: 800px;
  height: 75px;
  max-width: 100%;
  color: #a27b4a;
  padding-left: 100px;
}
#about .main_text{
  font-size: 1.2em;
  overflow: auto;
  height: 300px;
  line-height: 1.4;
  padding-right: 10px;
  padding-top: 10px;
  width: 800px;
  max-width: 100%;
  
}
#about_img{
  position: absolute;
  left:0;
  top: 0;
  width: 80px;
}
#about_img > img{
  width: 100%;
}
@media screen and (min-width:650px){
  #about .main_head{
    float: right;
    padding-left:0;
    height: auto;
    margin-left: 220px;
    max-width: -moz-calc(100% - 220px);
    max-width: calc(100% - 220px);
  }
  #about .main_text{
    float: right;
    margin-left: 220px;
    max-width: -moz-calc(100% - 220px);
    max-width: calc(100% - 220px);
  }
  #about_img{
    height: 180px;
    bottom: 0;
    margin: auto;
    width: 180px;
  }
}
/*Mascot*/
#mascot{
  position: relative;
  width: 100%;
  min-height:1000px;
  min-height: 100%;
  background-color: rgba(247, 221, 85, 1);
  padding: 20px 0px;
}
#mascot .adjust_mobile{
  min-height: 400px;
}
#mascot .inner_cont{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 400px;
  margin: auto;
  width: 1000px;
  color: white;
  max-width: 90%;
}
#mascot .main_head{
  font-size: 2.2em;
  margin: 15px 0px;
  width: 400px;
  height: 110px;
  max-width: 100%;
  padding-left: 100px;
  color: #784937;
}
#mascot .main_text{
  font-size: 1.2em;
  overflow: auto;
  height: 300px;
  line-height: 1.5;
  width: 800px;
  max-width: 100%;
  color:#444;
}
#mascot_img{
  position: absolute;
  left:0;
  top: 0px;
  width: 80px;
}
#mascot_img > img{
  width: 100%;
  top: 0px;
}
@media screen and (min-width:650px){
  #mascot .main_head{
    padding-left:0;
    height: auto;
  }
  #mascot .main_text{
    margin-right: 300px;
    max-width: -moz-calc(100% - 300px);
    max-width: calc(100% - 300px);
  }
  #mascot_img{
    left: auto;
    right: 0;
    width: 250px;
    top: 50px;}

    #mascot_img > img{
      width: 100%;
      top: -40px;
    }
  }
}
/*Contacts classes*/

#contacts
{
	background: #eaeaea;
	font-family:  'Roboto condensed', sans-serif;
}

#reach
{
	clear: both;
  width: 100%;
  min-width: 300px;
  background: transparent;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family:  'Roboto condensed', sans-serif;

}

#contact_Outcont{
	position: relative;
	width: 100%;
  text-align: center;
  background-color: #eaeaea;
  color: #666 ;
  margin-top:  4.3em;
  margin-bottom: 100px;
}
.contact_grp{
	display: inline-block;
	vertical-align: top;
	text-align: center;
  min-width: 180px;
}
.inner_contacts_cont{
	margin: 15px;
	text-align: left;
}
.inner_contacts_cont > span{
	font-weight: 700;
	color: #333;
}

/*yodh division classes*/
#yodh
{
	background: #D6F5A3;
}

.divtitle
{
  
 	/*height: 80px;
 	line-height: 80px;*/
 	position: relative;
 	top:0.7em;
 	left: 0;
 	right: 0;
 	margin: auto;
 	width: auto;
 	text-align: center;
 	color: #cccccc;
 }

 .headingstyle
 {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  word-spacing:6px;
}


#yodh_panel{
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding-left: 10%;
  padding-right: 10%;
  height: calc(100% - 200px);
  position: absolute;
  margin: auto;
  top: 130px;
}

.text
{
  font-size: 1.2em;
  line-height: 1.5em;
}

#yodh_content{
  width: 100%;
  height: 100%;
  /* padding: 0px 20px; */
  padding: 20px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  font-size: 1.2em;
  overflow: auto;
  overflow-x: hidden;
  color: #776D6D;
}

#yodh_content::-webkit-scrollbar
{
  width: 6px;
}
#yodh_content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color :#333;
}
#yodh_content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fafafa;
  border-radius: 10px;
}

.yodh_author
{
	max-width: 80%;
  width: 600px;
  margin: 0;
  top: -5px;
  position: relative;
  text-align: right;
}


/*Landing*/

#landing
{
  background-image: url(./../img/bg_landing.jpg);
  background-size: cover;
  background-position: center;
}

/*Events*/
#events{
  background:rgb(254, 255, 154);
  padding-bottom: 20px;
}

#badabox
{
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 45px;
  text-align: center;
}
.boxes
{
  display: inline-block;
  position: relative;
  width: 16%;
  height: 12.8vw;
  overflow: hidden;
  cursor: pointer;
  background: rgba(86, 46, 28, 0.17);
}  
.evpic.fil0,.evpic.fil1,.evpic.fil2{fill: blue;}

.evpic
{
 top:13%;
 height: 74%;
 position: absolute;
 left: 0;
 right: 0;
 margin: auto;
 width: 100%;
}

.boxes>div{
  height: 96%;
  width: 96%;
  position: absolute;
  top: 2%;
  left: 100%;
  line-height: 150px; 
  color: white;
  text-align: center;
  font-size: 1em;
  opacity: 0.7; 
  cursor: pointer;
  background-color: #4A2C1E;
  background-image: url(../img/classy-fabric.png);
}

.slideitb{
  -webkit-animation: itb 0.3s 1 linear forwards;
  -o-animation: itb 0.3s 1 linear forwards;
  -moz-animation: itb 0.3s 1 linear forwards; 
}
.slideibt{
  -webkit-animation: ibt 0.3s 1 linear forwards;
  -o-animation: ibt 0.3s 1 linear forwards;
  -moz-animation: ibt 0.3s 1 linear forwards; 
}
.slideilr{
  -webkit-animation: ilr 0.3s 1 linear forwards;
  -o-animation: ilr 0.3s 1 linear forwards;
  -moz-animation: ilr 0.3s 1 linear forwards;
}
.slideirl{
  -webkit-animation: irl 0.3s 1 linear forwards;
  -o-animation: irl 0.3s 1 linear forwards;
  -moz-animation: irl 0.3s 1 linear forwards;
}

@-webkit-keyframes itb {0%{top: -100%; left: 2%;}100%{top: 2%; left: 2%;}}
@-webkit-keyframes ilr {0%{top: 2%; left: -100%;}100%{top: 2%; left: 2%;}}
@-webkit-keyframes ibt {0%{top: 100%; left: 2%;}100%{top: 2%; left: 2%;}}
@-webkit-keyframes irl {0%{top: 2%; left: 100%;}100%{top: 2%; left: 2%;}}

@-o-keyframes itb {0%{top: -100%; left: 0%;}100%{top: 0%; left: 0%;}}
@-o-keyframes ilr {0%{top: 0%; left: -100%;}100%{top: 0%; left: 0%;}}
@-o-keyframes ibt {0%{top: 100%; left: 0%;}100%{top: 0%; left: 0%;}}
@-o-keyframes irl {0%{top: 0%; left: 100%;}100%{top: 0%; left: 0%}}

@-moz-keyframes itb {0%{top: -100%; left: 0%;}100%{top: 0%; left: 0%;}}
@-moz-keyframes ilr {0%{top: 0%; left: -100%;}100%{top: 0%; left: 0%;}}
@-moz-keyframes ibt {0%{top: 100%; left: 0%;}100%{top: 0%; left: 0%;}}
@-moz-keyframes irl {0%{top: 0%; left: 100%;}100%{top: 0%; left: 0%;}}

.slideftb{
  -webkit-animation: ftb 0.3s 1 linear forwards;
  -o-animation: ftb 0.3s 1 linear forwards;
  -moz-animation: ftb 0.3s 1 linear forwards; 
}
.slidefbt{
  -webkit-animation: fbt 0.3s 1 linear forwards;
  -o-animation: fbt 0.3s 1 linear forwards;
  -moz-animation: fbt 0.3s 1 linear forwards;
}
.slideflr{
  -webkit-animation: flr 0.3s 1 linear forwards;
  -moz-animation: flr 0.3s 1 linear forwards;
  -o-animation: flr 0.3s 1 linear forwards;
}
.slidefrl{
  -webkit-animation: frl 0.3s 1 linear forwards;
  -o-animation: frl 0.3s 1 linear forwards;
  -moz-animation: frl 0.3s 1 linear forwards;
}

@-webkit-keyframes fbt {0%{top: 2%; left: 2%;}100%{top: -100%; left:  2%;}}
@-webkit-keyframes frl {0%{top:  2%; left:  2%;}100%{top:  2%; left: -100%;}}
@-webkit-keyframes ftb {0%{top:  2%; left:  2%;}100%{top: 100%; left:  2%;}}
@-webkit-keyframes flr {0%{top:  2%; left:  2%;}100%{top:  2%; left: 100%;}}

@-o-keyframes fbt {0%{top: 0%; left: 0%;}100%{top: -100%; left:  0%;}}
@-o-keyframes frl {0%{top:  0%; left:  0%;}100%{top:  0%; left: -100%;}}
@-o-keyframes ftb {0%{top:  0%; left:  0%;}100%{top: 100%; left:  0%;}}
@-o-keyframes flr {0%{top:  0%; left:  0%;}100%{top:  0%; left: 100%;}}

@-moz-keyframes fbt {0%{top: 0%; left: 0%;}100%{top: -100%; left:  0%;}}
@-moz-keyframes frl {0%{top:  0%; left:  0%;}100%{top:  0%; left: -100%;}}
@-moz-keyframes ftb {0%{top:  0%; left:  0%;}100%{top: 100%; left:  0%;}}
@-moz-keyframes flr {0%{top:  0%; left:  0%;}100%{top:  0%; left: 100%;}}

#eexit
{
  position: absolute;
  top: 10%;
  right: 6%;
  height: 25px;
  width: 25px;
  background: transparent;
  color: white;
  z-index: 7;
  cursor: pointer;
  background-image: url("./../img/cross.png");
  background-size: 100% 100%;
  display: none;
}
#eoverlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5%;
  height: 85%;
  width: 90%; 
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.2);
  z-index: 5;
  overflow-y: hidden;
  display: none; 
  opacity: 1;
  background: transparent;
  color: rgb(134,85,63);
}

/*Social incons*/

#socialcontainer{
  position: absolute;
  top: 100%;
  right: 20px;
}

.socialicon
{
  height: 40px;
  width: 40px;
  margin-left: 8px;
  position: relative;
  float: right;
  cursor: pointer;
  border-radius: 20px;
  background-color:black;
  opacity:.2;
}
.socialicon:hover
{
	opacity:1;
}
#fb :hover{
  background: #3b5998;
  border-radius: 20px;
}
#yt :hover{
  background: #c4302b;
  border-radius: 20px;
}
#tw :hover{
  background:  #00aced;
  border-radius: 20px;
}


#wiki :hover{
  background: #4c4c4c;
  border-radius: 20px;
}

#hpc :hover{
  background: #8B0000;
  border-radius: 20px;
}

#epc :hover{
  background: #dda803;
  border-radius: 20px;
}


/*Gallery*/

#gallery
{
  height: auto;
  min-height: 100%;
  background-color: #DFF5C0;
}

.main-block {
  background-color: transparent;
  min-height: 600px;
  height: auto;
  margin-top: 2.2em;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 50px;
  border-bottom: 0px;
}


.photo-wrapper {
  width: calc(20% - 10px);
  position: relative;
  float: left;
  margin: 5px;
  min-width: 120px;
  overflow: hidden;
  cursor: pointer;
}

.photo-wrapper img {
  height: 100%;
  width:100%;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease
}



.photo-wrapper img:hover{
  -webkit-transform:scale(1.15);
  -moz-transition: scale(1.15);
  -o-transition: scale(1.15);
  -ms-transition: scale(1.15);
  transform:scale(1.15);
}
#classylogo{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0%;
  height: 58%;
  max-height: 80vw;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
   }
   #sponsors{
    background-color: white;
  }
  @media only screen and (max-width: 550px) {
    .fl_right,.fl_left,.footer_regtxt,.footer_logintxt
    {
      display: none;
    }
  }