*{padding:0px;margin:0px;color:white;}
*::-webkit-scrollbar{width:10px;height:15px;border-radius:5px;}
*::-webkit-scrollbar-track-piece{background-color:#C2D2E4;}
*::-webkit-scrollbar-thumb:vertical{height:50px;width:15px;border-radius:2px;background-color:#003;}
body{overflow-x:hidden;background-image:url(/2014main/images/bgnew.png);background-repeat:no-repeat;background-attachment:fixed;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
#black_wall{background-color:rgba(0,0,0,0);transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;}
#updates{background-color:rgba(0,153,255,0.2);border-bottom:1px solid #ffffee;color:#ffffee;font-family:'bebas_neueregular', sans-serif;padding-left:20px;font-size:18px;overflow:hidden;}
#updates_slideshow{border:1px solid black;height:25px;font-family:'bebas_neueregular', sans-serif;position:relative;top:-20px;left:80px;}
#text{position:absolute;margin-top:8px;font-family:'bebas_neueregular', sans-serif;font-size:30px;text-indent:25px;}
#time{font-size:55px;position:absolute;height:75px;margin-top:5px;font-family:'bebas_neueregular', sans-serif;top:0px;left:100px;border-left:3px solid #979595;padding-top:10px;}
#header{font-family:'bebas_neueregular', sans-serif;position:relative;}
#header_left{position:absolute;top:20px;left:0px;width:200px;font-family:'bebas_neueregular', sans-serif;transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;}
#header_right{position:absolute;width:100px;top:20px;right:10px;font-family:'bebas_neueregular', sans-serif;padding-left:5px;padding-top:10px;text-indent:5px;border-left:3px solid #979595;height:80px;font-size:18px;transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;}
#logo{position:relative;margin-left:auto;margin-right:auto;width:260px;top:0px;height:100px;font-family:'bebas_neueregular', sans-serif;transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;}
#tabs_div{position:relative;margin-left:auto;margin-right:auto;top:0px;font-family:'bebas_neueregular', sans-serif;width:1050px;}
#background{border-style:solid;border-color:rgba(8,60,89,.9);background:rgba(0,0,0,.9);position:relative;width:100%;top:20px;left:0px;transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;}
.vertical{position:relative;top:15px;font-family:'bebas_neueregular', sans-serif;}
#contacts{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#home{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#events{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#junoon{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#blogs{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#gallery{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
#sponsors{font-family:'bebas_neueregular', sans-serif;transition:all .75s,border-width .2s;-moz-transition:all .75s,border-width .2s;-webkit-transition:all .75s,border-width .2s;}
.buttonf{-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;box-shadow:inset 0px 1px 0px 0px #ffffff;background-color:rgba(42,134,248,0.4);-webkit-border-top-left-radius:0px;-moz-border-radius-topleft:0px;border-top-left-radius:0px;-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;text-indent:0;border:1px solid #dcdcdc;display:inline-block;color:#ffffff;font-family:Verdana;font-size:15px;font-weight:lighter;font-style:normal;height:40px;line-height:40px;width:100px;text-decoration:none;transition:all linear 0.2s;text-align:center;cursor:pointer;margin:30px;}.buttonf:hover{background-color:rgba(42,134,248,0.9);transition:all linear 0.2s;}
.tabs{cursor:pointer;text-align:center;width:145px;height:50px;font-size:20px;margin:0;font-family:'bebas_neueregular', sans-serif;margin-left:0px;font-family:sans serif;color:white;border:1px solid rgba(22,142,210,.8);display:inline-block;background-color:rgba(8,60,89,.9);transition:all 2s;-moz-transition:all 2s;-webkit-transition:all 2s;}
.tabs:hover{background:-moz-radial-gradient(center, ellipse cover, rgba(0,51,102,1) 0%, rgba(0,51,102,0.79) 38%, rgba(0,51,102,0.77) 47%, rgba(0,70,121,0.74) 57%, rgba(0,103,154,0.76) 74%, rgba(0,151,202,1) 99%, rgba(0,153,204,1) 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,51,102,1)), color-stop(38%,rgba(0,51,102,0.79)), color-stop(47%,rgba(0,51,102,0.77)), color-stop(57%,rgba(0,70,121,0.74)), color-stop(74%,rgba(0,103,154,0.76)), color-stop(99%,rgba(0,151,202,1)), color-stop(100%,rgba(0,153,204,1)));background:-webkit-radial-gradient(center, ellipse cover, rgba(0,51,102,1) 0%,rgba(0,51,102,0.79) 38%,rgba(0,51,102,0.77) 47%,rgba(0,70,121,0.74) 57%,rgba(0,103,154,0.76) 74%,rgba(0,151,202,1) 99%,rgba(0,153,204,1) 100%);background:-o-radial-gradient(center, ellipse cover, rgba(0,51,102,1) 0%,rgba(0,51,102,0.79) 38%,rgba(0,51,102,0.77) 47%,rgba(0,70,121,0.74) 57%,rgba(0,103,154,0.76) 74%,rgba(0,151,202,1) 99%,rgba(0,153,204,1) 100%);background:-ms-radial-gradient(center, ellipse cover, rgba(0,51,102,1) 0%,rgba(0,51,102,0.79) 38%,rgba(0,51,102,0.77) 47%,rgba(0,70,121,0.74) 57%,rgba(0,103,154,0.76) 74%,rgba(0,151,202,1) 99%,rgba(0,153,204,1) 100%);background:radial-gradient(ellipse at center, rgba(0,51,102,1) 0%,rgba(0,51,102,0.79) 38%,rgba(0,51,102,0.77) 47%,rgba(0,70,121,0.74) 57%,rgba(0,103,154,0.76) 74%,rgba(0,151,202,1) 99%,rgba(0,153,204,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#0099cc',GradientType=1);}
.tabs:hover{background:-moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(0,51,102,1) 10%, rgba(8,60,89,1) 90%, rgba(8,60,89,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(10%,rgba(8,60,89,.9)), color-stop(90%,rgba(8,60,89,.9)), color-stop(100%,rgba(125,185,232,1)));background:-webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(0,51,102,0.9) 10%,rgba(8,60,89,.9) 90%,rgba(8,60,89,.9) 100%);background:-o-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(0,51,102,0.9) 10%,rgba(8,60,89,.9) 90%,rgba(8,60,89,.9) 100%);background:-ms-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(0,51,102,0.9) 10%,rgba(8,60,89,.9) 90%,rgba(8,60,89,.9) 100%);background:linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(0,51,102,0.9) 10%,rgba(8,60,89,.9) 90%,rgba(8,60,89,.9) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0);}
#main_content{transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;position:relative;top:80px;width:60.89%;margin-left:calc(20% - 125px);min-width:250px;background-color:rgba(5,26,45,.5);}
#main_reach p{font-family:'Open Sans', sans-serif;}
#sponsors_slideshow{position:absolute;top:0px;width:210px;right:-230px;height:100%;text-align:center;max-height:350px;font-family:'ROBOTO', sans-serif;background-color:rgba(5,26,45,.3);}
.see{width:25px;opacity:1;transition:all ease-in-out 0.5s;}
.hide{opacity:0;transition:all ease-in-out 0.5s;}
.divhid{opacity:0;}
.divact{-webkit-transform:translateX(-75px);transform:translateX(-75px);-o-transform:translateX(-75px);-moz-transform:translateX(-75px);opacity:1;transition:all ease-in-out 0.5s;background:white;width:112px;}
.divact div{padding-top:10px;font-family:'Open Sans', sans-serif;}
.socialinact{position:fixed;top:400px;right:-33px;background-color:rgba(5,26,45,.3);transition:all ease-in-out 0.5s;}
.socialinact:hover{right:0px;transition:all ease-in-out 0.5s;}
#slideshow_image{-webkit-animation:rotator 4s linear 1.2s infinite;-moz-animation:rotator 4s linear 1.2s infinite;animation:rotator 4s linear 1.2s infinite;}
#side_pointer_blink{-webkit-animation:blink 2s linear 1.2s infinite;-moz-animation:blink 2s linear 1.2s infinite;animation:blink 2s linear 1.2s infinite;}
@-webkit-keyframes blink{0%{opacity:.1;}
50%{opacity:.5;}
100%{opacity:.1;}
}
@keyframes blink{0%{opacity:.1;}
50%{opacity:.5;}
100%{opacity:.1;}
}
@-webkit-keyframes rotator{0%{-webkit-transform:rotateY(0deg);}
60%{-webkit-transform:rotateY(0deg);opacity:1;}
80%{opacity:.4;}
100%{-webkit-transform:rotateY(360deg);opacity:1;}
}
@-moz-keyframes rotator{0%{-moz-transform:rotateY(0deg);}
60%{-moz-transform:rotateY(0deg);opacity:1;}
80%{opacity:.4;}
100%{-moz-transform:rotateY(360deg);opacity:1;}
}
@keyframes rotator{0%{transform:rotateY(0deg);}
60%{transform:rotateY(0deg);opacity:1;}
80%{opacity:.4;}
100%{transform:rotateY(360deg);opacity:1;}
}
#update_text{position:relative;font-family:'Open Sans', sans-serif;font-size:15px;top:0px;-webkit-animation:updater 4s linear infinite;-moz-animation:updater 4s linear infinite;animation:updater 4s linear infinite;}
@keyframes updater{70%{opacity:1;top:0px;}
80%{opacity:0;}
85%{top:30px;}
86%{top:-30px;}
90%{opacity:0;}
100%{top:0px;opacity:1;}
}
@-webkit-keyframes updater{70%{opacity:1;top:0px;}
80%{opacity:0;}
85%{top:30px;}
86%{top:-30px;}
90%{opacity:0;}
100%{top:0px;opacity:1;}
}
@-moz-keyframes updater{70%{opacity:1;top:0px;}
80%{opacity:0;}
85%{top:30px;}
86%{top:-30px;}
90%{opacity:0;}
100%{top:0px;opacity:1;}
}
.event_data{padding:40px 40px 40px 40px;color:white;display:none;font-family:'Open Sans', sans-serif;font-size:.9em;}
.sortable{float:left;width:255px;}
#dummy{height:30px;width:20px;}
#ajax_events{position:absolute;z-index:-10;width:100%;height:100%;perspective:1500px;-webkit-perspective:1500px;}
.app_image{display:none;position:absolute;width:450px;height:180px;-moz-transform:rotateY(0deg);-webkit-transform:rotateY(0deg);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;top:calc(50% - 90px);left:calc(50% - 225px);}
.side_heading{width:100%;text-align:center;position:fixed;top:20px;right:20px;font-size:60px;font-family:'bebas_neueregular', sans-serif;}
section{width:60%;font-family:'Open Sans', sans-serif;margin-top:150px;text-align:justify;margin-left:20%;margin-bottom:20px;}
#event_container{position:fixed;top:0px;left:0px;overflow-x:hidden;width:100%;height:100%;background-image:url(../images/Capture2.jpg);background-size:cover;display:none;}
.metro_event_data{position:fixed;top:45%;left:45%;width:10%;height:10%;overflow-x:hidden;background-color:yellow;transform:rotateY(180deg);-moz-transform:rotateY(180deg);-webkit-transform:rotateY(180deg);transition:all 1s;-moz-transition:all 1s;-webkit-transition:all .9s;opacity:0;}
.cross{display:none;z-index:20;position:fixed;top:20px;left:-2020px;}
.active_event_data{position:fixed;opacity:1;top:0px;left:0px;width:100%;height:100%;transform:rotateY(0deg);-moz-transform:rotateY(0deg);-webkit-transform:rotateY(0deg);background-color:yellow;}
.cover{perspective:1500px;-webkit-perspective:1500px;border:3px solid rgba(0,0,0,0);background-size:cover;top:0px;left:0px;width:255px;display:none;height:110px;}
#events_metro{position:fixed;top:0px;left:0px;width:100%;height:100%;background-image:url(../images/Capture2.jpg);}
.cover:hover{border:3px solid rgba(20,20,100,.6);}
.content{font-family:'Open Sans', sans-serif;position:fixed;top:0px;left:0px;width:100%;height:100%;transform:rotateX(90deg);-moz-transform:rotateX(90deg);-webkit-transform:rotateX(90deg);transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;overflow-y:auto;overflow-x:hidden;}
.active_content{font-family:'Open Sans', sans-serif;transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg);}
.side{border:2px solid black;width:175px;border-radius:1px;height:70px;cursor:pointer;line-height:70px;font-family:'bebas_neueregular', sans-serif;font-size:30px;text-align:center;}
.side:hover{background-color:grey;}
#side_div{background:rgba(0,0,10,.98);position:fixed;-moz-transition:all .5s ease;transition:all .5s ease;-webkit-transition:all .5s ease;top:0px;overflow-y:auto;overflow-x:hidden;height:100%;left:-180px;z-index:2000;}
#side_pointer:hover > #side_div{left:0px;}
#wrapper{overflow-x:hidden;position:absolute;top:0px;left:0px;width:830px;height:100%;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;background-color:rgba(5,26,45,.9);}
li{height:110px;list-style-type:none;margin:8px;}
table{border-collapse:separate;border-spacing:1em;}
#main_sponsors img{width:350px;}
#slideshow_image{margin-top:50px;}
footer{position:absolute;bottom:0px;width:100%;}
@media only screen and (max-width:1340px){#wrapper{left:calc(50% - 350px);width:700px;overflow-y:auto;}
}
@media only screen and (max-width:1050px){#wrapper{left:calc(50% - 305px);width:610px;}
.app_image{width:300px;height:120px;left:calc(50% - 150px);top:calc(50% - 60px);}
footer{position:relative;bottom:-45px;}
#main_content{width:80%;}
}
@media only screen and (max-width:950px){#wrapper{left:calc(50% - 300px);width:600px;}
}
@media only screen and (max-width:600px){.actdis{padding:5px;}
#wrapper{left:calc(50% - 160px);width:320px;}
#main_content{width:80%;}
}
.gallery{width:500px;height:333px;margin:150px auto 100px;}
.fg-card, .fg-card > img{border-radius:3px;}
.fg-caption{color:white;font-style:italic;font-family:noto serif;font-size:24px;}
@media only screen and (min-height:760px){#main_content{transition:all .75s;-moz-transition:all .75s;-webkit-transition:all .75s;position:relative;f
top:60px;width:80%;margin-left:calc(15% - 90px);min-width:200px;background-color:rgba(5,26,45,.5);}
#sponsors_slideshow{max-height:400px;}
#main_junoon{height:350px;}
}
@media only screen and (max-width:1050px){#main_home{padding:40px 40px 40px 60px;}
#contacts{}
.page-container{-webkit-transform:scaleX(0.7);-moz-transform:scaleX(0.7);-o-transform:scaleX(0.7);transform:scaleX(0.7);}
#tabs_div{width:900px;}
#background{border-width:5px 0px 5px 0px;border-style:solid;border-color:rgba(8,60,89,.9);background:rgba(0,0,0,.9);}
#home ,#sponsors , #events , #blogs ,#gallery , #junoon{}
#main_content{top:60px;margin:auto;}
#sponsors_slideshow{margin-left:auto;margin-right:auto;top:calc(100% + 20px);height:350px;margin-bottom:40px;width:400px;right:calc(50% - 200px);}
footer{top:450px;}
}
@media only screen and (max-width:950px){#addp,#changepassword{width:120px;font-size:0.7em;}
li.buttonf{font-size:0.7em;}
}
@media only screen and (max-width:900px){#background{}
#main_content{position:relative;top:60px;}
#tabs_div{width:750px;}
}
@media only screen and (max-width:750px){#tabs_div{width:600px;}
#main_content{}
#sponsors_slideshow{}
}
@media only screen and (max-width:640px){#tabs_div{width:450px;}
#header{height:220px;}
#header_right{top:120px;}
#logo{margin-right:40px;}
tr,th,td{display:inline-block;text-align:center;}
#login_form{padding:5px;}
#main_sponsors img{width:250px;}
}
.middle strong{font-size:20px;}
.helptext{display:none;}
#addp,#changepassword{width:150px;}
@media only screen and (max-width:450px){#tabs_div{width:300px}
#logo{margin-right:auto;top:100px;}
#header_right{top:220px}
#header{height:320px;}
#sponsors_slideshow{width:200px;right:calc(50% - 100px);}
#sponsors_slideshow img{width:200px;}
tr{display:inline-block;text-align:center;}
#main_sponsors img{width:250px;}
@media only screen and (max-width:300px){#tabs_div{width:150px}
#main_sponsors img{width:170px;}
}